@import "../../../styles/variables.scss";

.password {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.password_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 87px 0 69px 0;
  height: 100%;
}

.password_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.password_title_main {
  @include title-1;
}

.password_form_n_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 305px;
}

.password_form {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;
  height: 218px;
}

.password_error {
  @include font-style(300, 10px, 12px);
  color: $color-text-highlight;
  text-align: center;
}

.button_n_input {
  @include font-style(300, 12px, 14px);
  width: 307px;
  height: 35px;
  border-radius: 12px;
  border: 2px solid $color-box;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 13px;
  &:focus {
    outline: none;
    border-color: $color-text-bright;
  }
  &.send_button {
    @include title-2;
    width: 326px;
    height: 44px;
    font-weight: 600;
    background-color: $color-text-bright;
    border: none;
    color: white;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }
}

::placeholder {
  color: $color-text-bright;
  border: none;
}
